<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="row">
    <div class="col-sm">
        <h1>Location</h1>
        <h3>Current locations</h3>

    </div>
    <div class="col-sm text-right">
        <button class="btn default-btn" onclick="show('location-form-row')">Add</button>
    </div>
</div>
<% for (var i = 0; i < listOfLocations.length ; i++) { %>
    <div class="location-item">
        <div class="row">
            <div class="col-2">
                <h6><b>ID</b></h6>
                <h4> <%= listOfLocations[i].id; %> </h4>
            </div>
            <div class="col-6">
                <h6><b>Name</b></h6>
                <h4> <%= listOfLocations[i].name; %> </h4>
            </div>
            <div class="col-4">
                <button class="btn " style="color: #ff4a4a"
                        onclick="deleteLocation(<%= listOfLocations[i].id %>)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <button class="btn " style="color: #ffa54a"
                        onclick="setValueToInput('location-form-row','location-form',[{name:'name',value:`<%= listOfLocations[i].name %>`},
                                {name:'id',value:`<%= listOfLocations[i].id %>`}])">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="divider"></div>
    </div>
<% } %>

<div id="location-form-row">
    <form id="location-form">
        <label>Name of location(only letters)</label>
        <input
               oninput="validate(this)"
               onclick="validate(this)" required class="form-control" type="text" name="name" id="locationName"
               placeholder="Name">
        <input class="form-control" type="hidden" name="id"
               placeholder="Name">
    </form>
    <div class="m-1 text-right">
        <button class="btn default-btn" onclick="addOrUpdateLocation()"><i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <button class="btn btn-danger" onclick="hide('location-form-row')"><i
                    class="fa fa-times"
                    aria-hidden="true"></i></button>
    </div>

</div>
</body>
</html>
