<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="row m-1">
    <div class="col">
        <h3><b>Active archive books</b></h3>
    </div>
    <div class="col text-right">
        <button class="btn default-btn" onclick="show('create')">Add</button>

    </div>
</div>
<div id="create">
    <form id="archive-book-form">
        <label>Name of archive</label>
        <input class="form-control" type="text" name="title"
               placeholder="Name">
        <label>Number of shelf</label>
        <input class="form-control" type="text" name="shelfNo"
               placeholder="Number of shelf">

        <textarea class="form-control" style="margin-top: 1em" type="text" name="note"
                  rows="3"
                  placeholder="Note"></textarea>

        <label>Select location</label>
        <select class="form-control" name="idLocation">
            <% for(var x = 0; x < listOfLocations.length; x++) { %>
                <option value='<%= listOfLocations[x].id ;%>'><%= listOfLocations[x].name ;%></option>
            <% } %>
        </select>
        <label>Select mark</label>
        <select class="form-control" name="idMark">
            <% for(var x = 0; x < listOfMarks.length; x++) { %>
                <option value='<%= listOfMarks[x].id ;%>'><%= listOfMarks[x].name ;%></option>
            <% } %>
        </select>
        <div class="row mt-3">
            <div class="col">
                <label>Start year</label>
                <input class="form-control" type="text" name="startYear"
                       placeholder="Year">
            </div>
            <div class="col">
                <label>End year</label>
                <input class="form-control" type="text" name="endYear"
                       placeholder="Year">
            </div>
        </div>

        <label>Expiration date</label>
        <input class="form-control" type="date" name="expirationDate"
               placeholder="Expiration date">
    </form>
    <label class="custom-upload" style="margin-top: 1em">
        <input type="file" multiple id="document-upload">
        <img src="/img/upload-image-icon-png-11.jpg" width="100px" height="100px">
    </label>
    <div class="progress " style="margin-top: 2em">
        <div class="progress-bar" id="progress" role="progressbar" aria-valuenow="75"
             aria-valuemin="75"
             aria-valuemax="100"></div>
    </div>
    <button class="default-btn btn " style="margin-top: 1em" onclick="create()">
        <i class="fa fa-floppy-o"
           aria-hidden="true"></i>

        Save
    </button>
    <button class="btn-danger btn " style="margin-top: 1em" onclick="hide('create')">
        <i class="fa fa-times" aria-hidden="true"></i>
        Cancel
    </button>
    <button type="button" id="success-btn" style="display: none">Done
    </button>

</div>
<div class="row">
    <% for(let i = 0; i < listOfArchiveBooks.length; i++) { %>
        <div class="col-12 ab-card">
            <div class="text-right">
                <button class="btn delete-btn"
                        onclick="deleteArchive(`<%= listOfArchiveBooks[i].id ;%>`)"><i
                            class="fa fa-times" aria-hidden="true"></i></button>
                <button class="btn overview-btn"
                        onclick="openArchiveBookOverview(`<%= listOfArchiveBooks[i].id ;%>`)"><i
                            class="fa fa-eye" aria-hidden="true"></i>
                </button>
            </div>
            <h4><%= listOfArchiveBooks[i].title ;%></h4>
            <div class="divider"></div>
            <% listOfArchiveBooks[i].createdDate = new Date(listOfArchiveBooks[i].createdDate); %>
            <% listOfArchiveBooks[i].expirationDate = new Date(listOfArchiveBooks[i].expirationDate); %>
            <h5 class="text-right m-1">
                <b><%= listOfArchiveBooks[i].createdDate.getDate() + "." + Number.parseInt(listOfArchiveBooks[i].createdDate.getMonth() + 1) + "." + listOfArchiveBooks[i].createdDate.getUTCFullYear() + " - " + listOfArchiveBooks[i].expirationDate.getDate() + "." + Number.parseInt(listOfArchiveBooks[i].expirationDate.getMonth() + 1) + "." + listOfArchiveBooks[i].expirationDate.getUTCFullYear() ;%></b>
            </h5>
        </div>
    <% } %>
</div>
<div class="collapse-div">
    <div class="row">
        <div class="col">
            <h4 class="m-2">Show closed archive books</h4>
        </div>
        <div class="col text-right">
            <button class="btn" onclick="showHideCollapse('closed-archive-books','collpase-icon')"><i
                        class="fa fa-chevron-left"
                        id="collpase-icon"
                        aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
<div id="closed-archive-books">
    <h3 style="margin-left: 1em"><b>Closed archive books</b></h3>
    <div class="row">
        <% for(let i = 0; i < listOfClosedArchiveBooks.length; i++) { %>
            <div class="col-12 ab-card">
                <div class="text-right">
                    <button class="btn delete-btn"
                            onclick="deleteArchive(`<%= listOfClosedArchiveBooks[i].id ;%>`)"><i
                                class="fa fa-times" aria-hidden="true"></i></button>
                    <button class="btn overview-btn"
                            onclick="openArchiveBookOverview(`<%= listOfClosedArchiveBooks[i].id ;%>`)">
                        <i
                                class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                </div>
                <h4><%= listOfClosedArchiveBooks[i].title ;%></h4>
                <div class="divider"></div>
                <% listOfClosedArchiveBooks[i].createdDate = new Date(listOfClosedArchiveBooks[i].createdDate); %>
                <% listOfClosedArchiveBooks[i].expirationDate = new Date(listOfClosedArchiveBooks[i].expirationDate); %>
                <h5 class="text-right m-1">
                    <b><%= listOfClosedArchiveBooks[i].createdDate.getDate() + "." + Number.parseInt(listOfClosedArchiveBooks[i].createdDate.getMonth() + 1)
                        + "." + listOfClosedArchiveBooks[i].createdDate.getUTCFullYear() + " - "
                        + listOfClosedArchiveBooks[i].expirationDate.getDate() + "." +
                        Number.parseInt(listOfClosedArchiveBooks[i].expirationDate.getMonth() + 1)
                        + "." + listOfClosedArchiveBooks[i].expirationDate.getUTCFullYear() ;%></b>
                </h5>
            </div>
        <% } %>
    </div>
</div>
</body>
</html>
